Q1:what are data structures,and why are they important?
Ans:way of storing and organising data so that it can be accessed and manipulatesd efficiently.

Q2:Explain the difference between mutable and immutable data types with example?
Ans:Mutability:objects/container whose state or value can be changed after they are created
example:list
I=[10,-4,23,50]
Print(I)
I(0)="Darshan"
print(I)
["Darshan",-4,23,50]

Immutability: objects whose state or value can not be changed after they are created
example:string
b="pwskills"
b[0]="I"
error

Q3:What are the main differences between lists and tuples in python?
Ans:Lists are mutable.
Lists are defined using square bracket[]
Lists are used when you need a collection of items that can change.

Tuples are immutable.
Tuples are defined using parenthesis()
Tuples are used when you need a fixed collectin of items.
  
Q4:Describe how dictinary stores data?
-dictionary stores data in the form of key value pair using a hash based structure.

Q5. Why might you use a set instead of a list in Python?
- Set automatically eliminate duplicate values
- perform a fast lookup
- Calculate the intersection and union of two sets
- As you don’t need to store duplicate values it reduces the memory usage
Q6. What is a string in Python and how it is different form a list?
- String is the sequence of characters enclosed within single, double and triple quotes.
Whereas list is a sequence of any data type string is immutable and list are mutable while both
support indexing and slicing.
Q7. How do tuples ensure data integrity in Python?
- Tuples are immutable, means their value cannot be altered after creation. Data store is
tuple is remained consistent. Tuples reduce the risk of data corruption or inconsistence
which means tuples ensure the data integrity.
Q8. What is a hash table and how does it related to dictionaries in Python?
-Hash table are a fundamental data structure in Python, implemented as dictionaries. Hash
table stores data as key value pairs. Python dictionaries are built using hash tables, allowing
quick access to values by their unique keys
Q9. Can list contain different data types in Python?
-Yes, list contains different data types such as integer, string, float complex numbers.
Q10. Explain why strings are immutable in Python.
- Strings are immutable in Python to enhance performance &amp; security. Also efficient memory
management and simplified implementation. Different string operation improves the
reliability of code.
Q11. What advantages do dictionaries offer over list for certain tasks?
- Dictionaries provide constant time complexity for lookups by key , making them more
efficient than lists for tasks that involve frequent data retrieval. List requires linear time to
search for elements especially in large data sets.
Q12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are used when data should remain constant, such as Aadhar card, employee ID,
ATMs. Using tuple data can&#39;t be modified as it is immutable which maintain the integrity of
store values.
Q13. How do sets handle duplicate values in python?
- Sets in Python automatically remove duplicate values ensuring each element is unique.

Q14. How does the “in” keyword work differently for list and dictionaries?
- For lists, the “in” keyword checks if a value exists within the list by summing each element.
For dictionaries it checks if a key exists directly, providing faster look up times due to hash-
based structure of dictionaries.
Q15. Can you modify the elements of a tuple? explain why or why not?
- No, element of tuple can&#39;t be modified because tuples are immutable. Their content are
fixed, the data should remain unchanged throughout the programme.
Q16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within another dictionary. It is useful for storing
hierarchical data, such as directory of users which each user has their personal data.
Q17. Describe the time complexity of accessing element in a dictionary
- The average time complexity of accessing element in dictionary is constant time 0(1).
Q18. In what situations are lists preferred over dictionaries?
- List are preferred when the order of element matters, or when indexing by position is
needed. And it is suitable for task that ensure sequence manipulation.
Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because they do not maintain a specific sequence for their keys
and values. This data does not affect the data retrieval as it is done by keys. Dictionaries provide
direct access to values throughout hashing.
Q20. Explain the difference between a lists and dictionary in terms of data retrieval.
- In list, data retrieval involves accessing element by index. In dictionary, data access by keys
where you can access values using their corresponding keys.

In [ ]:
#write a code to create a string with your name and print it
name="shital"
my_name=f"my name is ,{name}"
print(my_name)

my name is ,shital

In [ ]:
#write a code to find the length of the string "hello world"
string="Hello world"
length=len(string)
print(length)

11

In [ ]:
#write a code to slice the first 3 chracters from the string 'Python Programming'
string="Python Programming"
sliced_string=string[:3]
print(sliced_string)

Pyt

In [ ]:
#write a code to convert the string "hello" to uppercase
string="hello"
uppercase_string=string.upper()
print(uppercase_string)

HELLO

In [ ]:
#write a code to replace the word "apple" with "orange"in the string 'I like apple'
string="I like apple"
replaced_string=string.replace("apple","orange")
print(replaced_string)

I like orange

In [ ]:
#write a code to create a list with numbers 1 to 5 and print it
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#write a code to append the number 10 to the list [1,2,3,4]
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#write a code to remove the number 3 from the list[1,2,3,4,5]
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#write a code to access the second element in the list ['a','b','c','d']
letters=['a','b','c','d']
second_element=letters[1]
print(second_element)

b

In [ ]:
#write a code to reverse the list[10,20,30,40,50]
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#write a code to create a tuple with the elements 100,200,300 and print it
numbers=(100,200,300)
print(numbers)

(100, 200, 300)

In [ ]:
#write a code to access the second-to-last element of the tuple ('red','green','blue','yellow')
colors=('red','green','blue','yellow')
second_to_last_element=colors[2]
print(second_to_last_element)

blue

In [ ]:
#write a code to find the minimum number in the tuple(10,20,5,50)
numbers=(10,20,5,50)
minimum_number=min(numbers)
print(minimum_number)

5

In [ ]:
#write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')
animals=('dog','cat','rabbit')
index=animals.index('cat')
print(index)

1

In [ ]:
#write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=('mango','watermelon','banana')
if 'kiwi' in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#write a code to create a set with the elements 'a','b','c' and print it
letters={'a','b','c'}
print(letters)

{'b', 'a', 'c'}

In [ ]:
#write a code to clear all elements from the set{1,2,3,4,5}
numbers={1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [ ]:
#write a code to remove the element 4 from the set{1,2,3,4}
numbers={1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
#write a code code to find the union of two sets{1,2,3}and{3,4,5}
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#write a code to create a dictionary with the keys "name","age",and "city",and print it
mydict={
    "name":"shital",
    "age":30,
    "city":"jalgaon"
}
print(mydict)

{'name': 'shital', 'age': 30, 'city': 'jalgaon'}

In [ ]:
#write a code to add a new key-value pair"country":"USA" to the dictionary{'name:'John','age':30}
mydict={
    "name":"John",
    "age":30
}
mydict["country"]="USA"
print(mydict)

{'name': 'John', 'age': 30, 'country': 'USA'}

In [ ]:
#write a code to access the value associated with the key 'name' in dictionary{'name':'Alice','age':30}
mydict={
    "name":"Alice",
    "age":30
}
value=mydict["name"]
print(value)

Alice

In [ ]:
#write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}
mydict={
    "name":"Bob",
    "age":22,
    "city":"New York"
}
del mydict["age"]
print(mydict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#write a code to check if the key "city" exists in the dictinary{'name':'Alice','city':'Paris}
mydict={
    "name":"Alice",
    "city":"Paris"
}
if "city" in mydict:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

In [ ]:
#write a code to create a list ,a tuple,and a dictionary,and print them all
my_list=[1,2,3]
my_tuple=(4,5,6)
my_dict={"name":"shital","age":30}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'name': 'shital', 'age': 30}

In [ ]:
#write a code to create a list of 5 random numbers between 1 and 100 ,sort it in ascending order,and print the result
import random
random_numbers=[random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[6, 39, 54, 55, 67]

In [ ]:
#write a code to create a list with strings and print the element at the third index
my_list=["cricket","football","chess","batminton"]
third_element=my_list[2]
print(third_element)

chess

In [ ]:
#write a code to combine two dictionaries into one and print the result
dict1={"name":"shital","age":30}
dict2={"city":"jalgaon","country":"india"}
combined_dict={**dict1,**dict2}
print(combined_dict)

{'name': 'shital', 'age': 30, 'city': 'jalgaon', 'country': 'india'}

In [ ]:
#write a code to convert list of strings into a set
my_list=["apple","banana","orange"]
my_set=set(my_list)
print(my_set)

{'banana', 'orange', 'apple'}